Package: calamares-neptune
Version: 1.4
Architecture: amd64
Maintainer: Leszek Lesner <leszek@zevenos.com>
Installed-Size: 5147
Depends: calamares
Section: devel
Priority: optional
Description: distribution-independent installer framework
 distribution-independent installer framework.
 .
 This package contains the calamares settings and branding for Neptune.
